p {
  color: white;
  font-size: 18px;
}
body {
  background-color: DarkGray;
  font-family: Monospace;
  margin: 0;
}
img {
	max-width: 100%;
}
  ul {
    background-color: red;
    overflow: hidden;
    text-align: center;
  }
  li {
    display: inline-block;
    padding: 20px;
  }
  a {
    color: black;
    text-decoration: none;
    font-size: 19px;
  }
  a:hover {
    color: black;
  }
 h1, h4 {
   text-align: center;
   color: white;
   letter-spacing: 0.02em;
 }
 .as {
   display: block;
   margin: auto;
 }
 .as:hover {
   opacity: 0.8;
 }
 h1 {
   font-size: 48px;
 }
 h4 {
   font-size: 20px;
 }
 .drugideo {
   background-image: url(slika2.jpg);
   background-size: cover;
   width: 100%;
   height: 350px;
   margin-top: 40px;
 }
 h2 {
   color: white;
   text-align: center;
   padding-top: 130px;
   font-size: 44px;
 }
 h3 {
   color: white;
 }
 header, footer {

   background-color: #f5f5f0;
   overflow: auto; /*da ima veci prostor odmah bez padding*/
 }
 footer p {
   color: black;
   padding-left: 10%;
 }
 footer {
	 clear: both;
 }
 header h3 {
   color: black;
   padding-left: 20px;
 }
 .crvena {
   color: red;
 }
 .container {
	 padding-left: 10%;
	 padding-right: 10%;
 }
 article img {
	 padding-left: 10%;
 }
 h1.naslov{
	 margin-bottom: -64px;
 }
 .kol {
	 width: 43%;
	 float: left;
	 padding: 2%;
 }
 main {
	 margin-left: 5%;
 }
 .pozadina {
	 background-image: url("slika6.jpg");
	 background-size: cover;
	 width: 100%;
	 height: 310px;
	 margin-top: 34px;
	 clear: both;
 }

body {
   margin: 0;
 }
 nav {
   background: #000;
 }
 nav a {
   color: #fff;
   display: block;
   text-decoration: none;
   padding: 4px 8px;
   border-bottom: 1px solid white;
   text-align: center;
 }
 nav a:hover {
   background: white;
 }
 @media(min-width: 600px) {
 nav {
   text-align: center;
 }
   nav a {
     display: inline-block;
	 border: none;

   }
 }
 @media(min-width: 1000px) {
 nav {
   text-align: right;
   padding-right: 10%;
 }
 nav a {
    margin-right: 20px;
 }
}
